.myr-card {
  margin: 0.7em 0.4em;
  padding: 0.6em;


  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  &.giant {
    box-shadow: none;
  }

  border-radius: 8px;

 display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card-header {
    flex: 1;

    .card-title {
      display: inline-block;
      font-size: 18px;
      color: #212121;
      & + .card-subtitle {
        margin-left: 0.5em;
      }
    }

    &.giant > .card-title {
      font-size: 24px;
    }

    .card-subtitle {
      font-size: 18px;
      color: #4F4F4F;
    }

    .card-buttons {
      display: inline-block;
      margin: 0 0 0 auto;
      float: right;
    }
  }

  .expando {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0.4em;
    .expando-icon-container {
      transform-origin: 0.5em center;
      .expando-icon {
        display: inline-block;
        margin-right: 0.8em;
      }
    }
  }

  .card-breadcrumbs {
    display: block;
    flex-basis: 1005%;
  }

  .card-button {
    font-size: 18px;
    margin: 0 0.2em;
    text-decoration: none;
    * {
      display: inline;
    }
  }

  .card-body {
    flex-basis: 100%;
  }
}