@import "~@blueprintjs/core/lib/scss/variables";

.form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "label field";

    @media all and (max-width: 600px) {
        grid-template-columns: auto;
        grid-template-areas: "label" "field";
        grid-gap: none;
    }

    padding: 0.4em;

    grid-gap: 0.7em;

    min-width: 400px;

    .form-label {
        grid-area: label;
        grid-row: auto;
        text-align: right;
        font-weight: bold;
        @media all and (max-width: 600px) {
            text-align: left;
            margin-bottom: none;
        }
    }

    .form-field {
        grid-area: field;
        grid-row: auto;
    }

    .form-label, .form-field {
        margin-bottom: 1em;
    }

    .submit-button {
        grid-area: field;
        grid-row: auto;
    }

    .form-field-credits {
        display: grid;
        grid-template-columns: 32px 1fr auto;
        grid-auto-rows: auto;
    }

    .form-helper {
        color: $pt-text-color-muted;
        font-size: $pt-font-size-small;
        margin-top: $pt-grid-size / 2;
        &.error {
            color: $red1;
            font-weight: bold;
        }
    }

    .popover-hack .bp3-popover-target {
        width: 100%;
    }
}